.goose {
    image-rendering: pixelated; /* Modern browsers */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges; /* Safari */
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    transition: all 0.5s ease;
    background-repeat: no-repeat;
}

.goose-meme {
    position: fixed;
    max-width: 300px;
    z-index: 9999;
    cursor: move;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}